#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

header {
  /* max-height: 64px; */

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    /* img {
      max-height: 64px;
      object-fit: contain;
      height: auto;
      display: block;
      flex-shrink: 0;
    } */
    div {
      display: flex;
      flex-direction: column;
      padding: 0;
      h1,
      p {
        margin: 0.5rem;
      }
    }
  }
}

.hero-card {
  display: inline-block;
  flex-wrap: wrap;
  padding: 1rem 0;
  .container {
    width: fit-content;
    padding: 1.5rem;
    margin: 1rem;
    border: 1px solid black;
    border-radius: 2rem;
    cursor: pointer;
    background-color: #fff;
    /* box-shadow: inset 0px 0px 10px var(--action-color); */
    transition: all 0.3s ease;
    &:hover {
      transform: scale(1.2);
    }
  }
}
