#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}
body {
  box-sizing: border-box;
}
.separator {
  width: 3rem;
  height: 0.8rem;
  border-radius: 0.4rem;
  background-color: #333;
  margin: 1rem auto;
}
header {
  /* max-height: 64px; */

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    padding: 1rem;

    .container-content {
      display: flex;
      flex-direction: column;
      padding: 0;
      h1,
      p {
        margin: 0.5rem;
      }
    }
  }
}

.hero-list-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 1.6rem;
}

.hero-card {
  display: inline-block;
  padding: 1rem 0;
  width: 18rem;

  .container {
    position: relative;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid oklch(90% 0 0);
    border-radius: 1.25rem;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 10px 30px 0% 0 0/ 0.08;
    transition: all 0.2s ease;

    .badge-green {
      color: green;
    }
    .badge-orange {
      color: orange;
    }
    #hero-card-angle-down {
      position: absolute;

      top: 1.2rem;
      right: 1.2rem;
      &:hover {
        outline: 0.4rem solid #e0e0e0;
        outline-offset: -0.1rem;
        background-color: #e0e0e0;
        border-radius: 50%;
      }
    }

    .buttons {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem;
      button {
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.5rem;
        font-family: var(--font-family);

        background-color: var(--action-color);
        color: #333;
        font-size: 1rem;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.2s ease;
      }
    }

    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 16px 40px oklch(0% 0 0/ 0.12);
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 30rem;
  margin: 3rem auto;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid oklch(90% 0 0);
  border-radius: 1.25rem;
  box-shadow: 0 10px 30px / 0.08;

  p {
    font-weight: bold;
  }
  input,
  select,
  button {
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    border-radius: 1.25rem;
    width: 80%;
    border: 1px solid oklch(80% 0 0);
    background-color: #fff;
    text-align: center;
  }
  input {
    width: calc(80% - 2rem);
  }
  button {
    width: 50%;
    background-color: var(--action-color);
    border: none;
  }
}
