#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

header {
  /* max-height: 64px; */

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    padding: 1rem;

    .container-content {
      display: flex;
      flex-direction: column;
      padding: 0;
      h1,
      p {
        margin: 0.5rem;
      }
    }
  }
  .separator {
    width: 3rem;
    height: 0.8rem;
    border-radius: 0.4rem;
    background-color: #333;
  }
}

.hero-list-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.hero-card {
  display: inline-block;
  padding: 1rem 0;
  width: 18rem;
  transition: width 0.2s ease;
  .container {
    position: relative;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid oklch(90% 0 0);
    border-radius: 1.25rem;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 10px 30px 0% 0 0/ 0.08;
    transition: all 0.2s ease;

    .badge-green {
      color: green;
    }
    .badge-orange {
      color: orange;
    }
    #hero-card-angle-down {
      position: absolute;

      top: 1.2rem;
      right: 1.2rem;
      &:hover {
        outline: 0.4rem solid #e0e0e0;
        outline-offset: -0.1rem;
        background-color: #e0e0e0;
        border-radius: 50%;
      }
    }

    .buttons {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem;
      button {
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.5rem;
        font-family: var(--font-family);

        background-color: var(--action-color);
        color: #333;
        font-size: 1rem;
        cursor: pointer;
        transition: all 0.2s ease;
      }
    }

    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 16px 40px oklch(0% 0 0/ 0.12);
    }
  }
}
