:root {
  --decoration-color: oklch(0.8163 0.119052 227.5804);
  --action-color: oklch(0.9363 0.2391 239.58);
  --text-color: #333;
  --font-family: "Manrope", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--decoration-color);
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 1.6rem;
  box-sizing: border-box;
}
